/* src/pages/Home/Home.module.css */
.bannerContainer {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.bannerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

.cardContainer {
    z-index: 2;
    position: relative;
}

.cardStyle {
    width: 100%;
    max-width: 1000px;
}

.inputsContainer {
    display: flex;
  justify-content: center; /* Adjust this as needed, maybe to 'flex-start' for left alignment */
  gap: 20px; /* Adjust the space between the inputs */
  flex-wrap: nowrap; /* Prevents wrapping */
  }
  